*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

header{
    max-width: 1200px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

header>#nav1{
    background-color: lightskyblue;
    width: 1180px;
    margin: 10px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#bloque1{
    background-color: lightgreen;
    width: 15%;
    margin: 10px;
}

#bloque2{
    background-color: lightgreen;
    width: 70%;
    margin: 10px;
}

#bloque3{
    background-color: lightgreen;
    width: 15%;
    margin: 10px;
}

header>#nav2>#subNav{
    background-color: lightcoral;
    width: 1180px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    display:flex;
}

header>#nav2>#subNav>#subNav1{
    width: 1180px;
    background-color: lightyellow;
}


/*
TODO EL CONTENIDO DEL MAIN
*/

main{
    background-color: black;
    width: 1200px;
    margin: 20px auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

section{
    background-color: blueviolet;
    width: 70%;
    margin: 10px 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

main section>#contenedorArticulos{
    background-color:blue;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
div>#articulos{
    Width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
article#articulo1{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article#articulo2{ 
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#art11{
    background-color: burlywood;
    width: 97%;
    height: auto;
    margin: 10px 10px 0px 10px;
}

div#art12{
    background-color: burlywood;
    width: 97%;
    height: auto;
    margin: 10px 0px 0px 10px;
}

div#art21{
    background-color: burlywood;
    width: 95%;
    height: auto;
    margin: 10px 0px 0px 10px;
}

div#art22{
    background-color: burlywood;
    width: 95%;
    height: auto;
    margin: 10px 0px 0px 10px;
}
article#articuloFin{
    background-color: lightblue;
    margin: 10px;

}

aside{
    background-color: lightsalmon;
    margin: 10px 10px 10px 5px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    height: auto;
}

aside>article>div{
    background-color: yellow;
    width: 95%;
    margin: 10px;
}


/* 
TODO EL CSS DEL FOOTER
*/

footer{
    background-color: black;
    width: 1200px;
    margin: 20px auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
footer > div{
    background-color: aqua;
    width: 1180px;
    margin: 10px auto;
    vertical-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
    /*
    DEL HEADER
    */ 
        header{
        width: 90%;
        margin-top: 5%;
        margin-right: 5%;
        margin-left: 5%;
        }
        header>#nav1{
            width: 94%;
            margin-top: 3%;
            margin-right: 3%;
            margin-left: 3%;
        }
        #bloque1{
        width: 20%;
        margin: 3%;
        }
        #bloque2{
        width: 60%;
        margin: 3%;
        }
        #bloque3{
        width: 20%;
        margin: 3%;
        }
        div#subNav{
            width: 94%;
            padding:3%
        }

        header>#nav2>#subNav{
            width: 88%;
            margin-right: auto;
            margin-left: auto;
            margin-top: 3%;
            margin-bottom: 3%;
        }

       


    /*
    DEL MAIN
    */  
        main{
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        background-color: yellowgreen;
        display: flex;
        flex-direction: column;
        }
        section{
            width: 94%;
            margin-top:3%;
            margin-left:3%;
        }
                
        aside{
            width: 94%;
            margin-right:3%;
            margin-left:3%;
            margin-bottom: 3%;
        }
        article#articulo1{
            margin-top: 3%;
            margin-bottom: 3%;
            margin-left: 1.5%;
        }

        article#articulo2{
            margin-top: 3%;
            margin-bottom: 3%;
            margin-right: 3%;
        }

        article#articulo1>#art11{
            margin-bottom: 3%;
            margin-right: 2%;
        }
        article#articulo2>#art21{
            margin-bottom: 4%;
            margin-left: 3%;
        }

        aside>article#artículoAside>div{
            width: 94%;
            margin-right:3%;
            margin-left:3%;
        }
        #artAs1{
            margin-top: 3%;

        }

        #artAs2{
            margin-bottom: 3%;
        }
        article#articuloFin{
            width: 93%;
            margin-right:4%;
            margin-left: 3%;
            margin-bottom: 4%;
      
        }

        /*
    DEL FOOTER
    */ 
        footer{
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        }
        footer > div{
        width: 100%;
        margin:3%
        }
}
