*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

header{
    max-width: 98%;
    margin: 1rem auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

header>#nav1{
    background-color: lightskyblue;
    width: 98%;
    margin: 1rem auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#bloque1{
    background-color: lightgreen;
    width: 20%;
    margin: 1rem;
}

#bloque2{
    background-color: lightgreen;
    width: 60%;
    margin: 1rem;
}

#bloque3{
    background-color: lightgreen;
    width: 20%;
    margin: 1rem;
}

header>#nav2>#subNav{
    background-color: lightcoral;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    display:flex;
}

header>#nav2>#subNav>#subNav1{
    width: 100%;
    margin: 1rem;
    background-color: lightyellow;
}


/*
TODO EL CONTENIDO DEL MAIN
*/

main{
    background-color: black;
    width: 98%;
    margin: 1rem auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

section{
    background-color: blueviolet;
    width: 70%;
    margin: 1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

main section>#contenedorArticulos{
    background-color:blue;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
div>#articulos{
    Width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
article#articulo1{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article#articulo2{ 
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#art11{
    background-color: burlywood;
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-top: 1rem;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

div#art12{
    background-color: burlywood;
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-top: 1rem;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

div#art21{
    background-color: burlywood;
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-top: 1rem;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

div#art22{
    background-color: burlywood;
    width: 95%;
    height: auto;
    margin-left: auto;
    margin-top: 1rem;
    margin-right: auto;
    margin-bottom: 0.5rem;
}
article#articuloFin{
    background-color: lightblue;
    margin: 1rem;
    width: 97%;
    margin: 1rem auto;

}

aside{
    background-color: lightsalmon;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    height: auto;
}

aside>article>div{
    background-color: yellow;
    width: 92%;
    margin: 1rem auto;
}


/* 
TODO EL CSS DEL FOOTER
*/

footer{
    background-color: black;
    width: 98%;
    margin: 1rem auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
footer > div{
    background-color: aqua;
    width: 97%;
    margin: 1rem auto;
    vertical-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1200px){
    /*
    DEL HEADER
    */ 
        header{
        width: 96%;
        }
        header>#nav1{
        width: 96%;
        }
        #bloque1{
        width: 20%;
        }
        #bloque2{
        width: 60%;
        }
        #bloque3{
        width: 20%;
        }
        header>#nav2>#subNav{
        width: 96%;
        }
       


    /*
    DEL MAIN
    */  
        main{
        width: 96%;
        margin: 1rem auto;
        background-color: yellowgreen;
        display: flex;
        flex-direction: column;
        }
        section{
        width: 96%;
   
                }
        aside{
        width: 96%;
        margin: 1rem auto;
        }
        aside>article#artículoAside>div{
            width: 97%;
        }
        main section>#articuloFin{
        width:96%;
        margin: 1rem auto;
        }

        article#artículos{
            margin-left: 3px;
        }

        /*
    DEL FOOTER
    */ 
        footer{
        width: 96%;
        }
        footer > div{
        width: 96%;
        }
}


