*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

header{
    max-width: 1200px;
    margin: 20px auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
}

header>#nav1{
    background-color: lightskyblue;
    width: 1180px;
    margin: 10px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#bloque1{
    background-color: lightgreen;
    width: 20%;
    margin: 10px;
}

#bloque2{
    background-color: lightgreen;
    width: 60%;
    margin: 10px;
}

#bloque3{
    background-color: lightgreen;
    width: 20%;
    margin: 10px;
}

header>#nav2>#subNav{
    background-color: lightcoral;
    width: 1180px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    display:flex;
}

header>#nav2>#subNav>#subNav1{
    width: 100%;
    margin: 10px;
    background-color: lightyellow;
}


/*
TODO EL CONTENIDO DEL MAIN
*/

main{
    background-color: black;
    width: 1200px;
    margin: 20px auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

section{
    background-color: blueviolet;
    width: 70%;
    margin: 10px 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

main section>#contenedorArticulos{
    background-color:blue;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
div>#articulos{
    Width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
article#articulo1{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

article#articulo2{ 
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div#art11{
    background-color: burlywood;
    width: 97%;
    height: auto;
    margin: 10px 10px 0px 10px;
}

div#art12{
    background-color: burlywood;
    width: 97%;
    height: auto;
    margin: 10px 0px 0px 10px;
}

div#art21{
    background-color: burlywood;
    width: 95%;
    height: auto;
    margin: 10px 0px 0px 10px;
}

div#art22{
    background-color: burlywood;
    width: 95%;
    height: auto;
    margin: 10px 0px 0px 10px;
}
article#articuloFin{
    background-color: lightblue;
    margin: 10px;

}

aside{
    background-color: lightsalmon;
    margin: 10px 10px 10px 5px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    height: auto;
}

aside>article>div{
    background-color: yellow;
    width: 95%;
    margin: 10px;
}


/* 
TODO EL CSS DEL FOOTER
*/

footer{
    background-color: black;
    width: 1200px;
    margin: 20px auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
footer > div{
    background-color: aqua;
    width: 1180px;
    margin: 10px auto;
    vertical-align: center;
}
@media only screen and (min-width: 768px) and (max-width: 1200px){
    /*
    DEL HEADER
    */ 
        header{
        width: 95%;
        }
        header>#nav1{
        width: 97%;
        }
        #bloque1{
        width: 20%;
        }
        #bloque2{
        width: 60%;
        }
        #bloque3{
        width: 20%;
        }
        header>#nav2{
        width: 97%;
        }
        header>#nav2>#subNav{
        width: 100%;
        }

    /*
    DEL MAIN
    */  
        main{
        width: 95%;
        display: block;
        padding: 5px 0px;
        background-color: yellowgreen;
        }
        section{
        width: 97%;
        }
        aside{
        width: 97%;
        margin-left: 10px;
        }
        aside>article>div{
            width: 97%;
        }
        main section>#articuloFin{
        width:97%;
        }

        article#artículos{
            margin-left: 3px;
        }

        /*
    DEL FOOTER
    */ 
        footer{
        width: 95%;
        }
        footer > div{
        width: 97%;
        }
}

media only screen and (max-width: 768px){
    /*
DEL HEADER
*/ 
    header{
    width: 95%;
    }
    header>#nav1{
    width: 95%;
    display: block;
    }
    #bloque1{
    width: 95%;
    }
    #bloque2{
    width: 95%;
    }
    #bloque3{
    width: 95%;
    }
    header>#nav2{
    width: 95%;
    }
    header>#nav2>#subNav{
    width: 100%;
    }

/*
DEL MAIN
*/  
    main{
    width: 95%;
    display: block;
    padding: 10px;
    background-color: yellowgreen;
    }
    section{
    width: 97%;
    }
    main section > #articulos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    #articulo1>div{
        width: :95%;
    }    

    #articulo1 > div {
        margin-right: 10px;
    }

    main > section > #articulos > #articulo1 > div{
        margin-right: 10px;
    }
    main > section > #articulos > #articulo2 > div{
        margin-left: 10px;
    }

    aside{
    width: 97%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    
    main section>#articuloFin{
        width: 95%;
    }

/*
DEL FOOTER
*/ 
    footer{
    width: 95%;
    }
    footer > div{
    width: 95%;
    }
    
}
